$size: 50px;
$borderWidth: 1px;
$borderSpacing: 2px;
$tdPadding: 1px;

body {
  padding: 100px;
}

#wrapper {
  background-color: white;
  display: inline-block;
  position: absolute;

  & > table {
    border: 1px solid #4DABE4;
    border-spacing: $borderSpacing;
    background-color: white;
    table-layout: fixed;

    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;

    &.dragging {
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
      cursor: grabbing;
    }

    & td {
      padding: $tdPadding;
      min-width: $size;
      max-width: $size;
      height: $size;
      background-color: #4DABE4;
    }
  }
}

.btn {
  display: flex;
  width: $size + $tdPadding * 2;
  height: $size + $tdPadding * 2;
  align-items: center;
  justify-content: center;
  //position: absolute;
  transition: all 0.6s ease;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;

  &-add {
    background-color: #F1A417;

    &__col {
      position: absolute;
      top: $borderSpacing + $borderWidth;
      right: -$size -$borderSpacing - $tdPadding * 2;
    }

    &__row {
      position: absolute;
      top: calc(100% + #{$borderSpacing});
      left: $borderSpacing + $borderWidth;
    }

    &:hover {
      background-color: #F5BF5C;
    }
  }

  &-remove {
    background-color: #B00100;

    &__col {
      position: absolute;
      top: -$size - $borderSpacing - $tdPadding * 2;
      left: $borderSpacing + $borderWidth;
      opacity: 0;
    }

    &__row {
      position: absolute;
      top: $borderSpacing + $borderWidth;
      left: -$size -$borderSpacing - $tdPadding * 2;
      opacity: 0;
    }

    &:hover {
      background-color: #C84D4C;
    }
  }
}