$size: 50px;

#wrapper {
  background-color: white;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.table {
  border: 1px solid #4DABE4;
  overflow: hidden;
  margin: $size + 5;
  background-color: white;

  & > tbody > tr > * {
    width: $size;
    height: $size;
    background-color: #4DABE4;
  }
}

.btn-remove {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #B00100;
  transition: all 0.6s ease;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #C84D4C;
  }
}

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #F1A417;
  transition: all 0.6s ease;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: #F5BF5C;
  }
}